:root {
    --primary-color: #181783;   
    --secundary-color: #6672f6;
    --alt-text: #64748B;        
    --footer-bg: #16243B;
}

html {
    scroll-behavior: smooth;
}

.navbar .nav-link {
    cursor: pointer;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
